@import "/src/const/styles";
.footer {
  width: 100vw;
  display: flex;
  padding: $intervalLarge 0;
  align-items: center;
  justify-content: center;
  background-color: $black3;
  color: $black12;
  font-size: $fontSizeSmaller;
  display: flex;
  flex-direction: column;

  .item {
    margin-top: $amount1;
    a {
      color: $black12;
      &:hover{
        color: $black8;
      }
    }
  }
  
  
}