@import "/src/const/styles";

.booksMenu {
  position: absolute;
  right: -$intervalSmall;
  background-color: $black12;
  padding: $intervalSmall;
  z-index: 1;
  font-size: $fontSizeSmaller;

  .bookItem {
    word-break: keep-all;
    display: flex;
    margin-top: $amount1;

    &:hover {
      opacity: 0.8;
    }
  }
}