@import "/src/const/styles.scss";

.postSlot {
  display: flex;
  flex-direction: row;
  margin-top: $amount2;
  .info {
    font-size: $fontSizeSmaller;
  }
  .statistics {
    margin-top: $amount1;
  }
  .item {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    padding: 0 $amount1;
    margin-left: $amount1;
    letter-spacing: 1px;
    &:first-child {
      margin-left: 0;
    }
  }
  .statistics,
  .book,
  .yuque {
    margin-top: 6px;
  }
  .yuque {
    a {
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 2px;
      padding: 0 $amount1;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  .book {
    a {
      color: #fff;
      display: inline-flex;
      align-items: center;
    }
    svg {
      margin-right: 2px;
      width: 16px;
      height: 16px;
    }
  }
}
