@import "/src/const/styles";

.home {
  width: 100vw;
  overflow: hidden;
  padding-top: $amount5;
  overflow: hidden;
  height: calc(100vh - 64px);

  .page {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 64px);
  }
  .cover {
    height: 470px;
    overflow: hidden;
    position: relative;
    .content {
      position: absolute;
      width: 70vw;
      left: 0;
      margin-left: 15vw;
      color: $black12;
      top: $amount5;
      .title {
        font-size: $fontSizeOversized;
        width: $amount9;
      }
      .subTitle {
        margin-top: $amount2;
        font-size: $fontSizeLarge;
        font-weight: $fontWeightNormal;
        line-height: $lineHeightLarge;
      }
      .links {
        display: flex;
        flex-direction: row;
        margin-top: $amount3;
        .socialLinkItem {
          width: $amount3;
          height: $amount3;
          margin-left: $amount2;
          &:first-of-type {
            margin-left: 0;
          }
          
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .coverImg {
      width: 100vw;
      min-height: 35vh;
    }
  }
  .main {
    background-color: $black12;
    width: 70vw;
    box-sizing: border-box;
    min-height: $amount9;
    padding: $intervalLarge;
    margin: 0 auto;
    position: relative;
    top: -100px;
    // border-radius: 5px;
  }
}